

.container {
	width: 100%;
}

.navbar-custom {
    background-color: #FF4500;
    border-color: #FFFFFF;
    background-image: none;
}

#logo {
	height: 40px;
	width: 60px;
}

#quickLinks {
	padding-top: 7%;
	border: solid;
}

#search {
	width: 80%;
}

input {
	height: 20%;
	width: 80%;
}